@model dynamic
@if (ViewBag.Exceptions != null && ViewBag.Exceptions.Count > 0)
{
    <div class="alert alert-error">
        <ul>
            @foreach (var ex in ViewBag.Exceptions)
            {
                <li>@ex.Message</li>
            }
        </ul>
    </div>
}