/** 
 * Default Ultimate Linear CSS Drop-Down Menu Theme
 *
 * @file		default.ultimate.css
 * @name		Default
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 */

@import "lwis-default.css";


/*-------------------------------------------------/
 * @section		Base Style Extension
 */

ul.dropdown a, ul.dropdown span {
    display: block;
    padding: 7px 10px;
}



/*-------------------------------------------------/
 * @section		Base Style Override
 */

ul.dropdown li {
    padding: 0;
    border: none;
}

ul.dropdown ul {
    min-width: 100px;
}

ul.dropdown ul li {
    padding: 3px 0;
}

ul.dropdown ul a, ul.dropdown ul span {
    padding: 3px 5px 3px 15px;
    color: #2c2c2c;
}

ul.dropdown ul span .icon-chevron-right {
    float: right;
}

ul.dropdown ul a:hover, ul.dropdown ul span:hover {
    background-color: #08C;
    color: white;
}



/*-------------------------------------------------/
 * @section		Base Style Reinitiate: post-override activities
 */


/*-------------------------------------------------/
 *	@section	Custom Styles
 */

ul.dropdown li {
    
}

ul.dropdown li.hover, ul.dropdown li:hover {
    /* background-color: #2C2C2C; */
    color: white;
}

ul.dropdown li a:active {
    /* background-color: #2C2C2C; */
    color: white;
}


/* Non-first level */

ul.dropdown ul {
    margin-top: 0;
    background-color: white;
    border: solid 1px #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.dropdown ul li {
    color: #2c2c2c;
}

ul.dropdown ul li.hover, ul.dropdown ul li:hover {
    color: #2c2c2c;
}

ul.dropdown ul li.hover a, ul.dropdown ul li:hover a {

}

ul.dropdown ul li.hover a:hover, ul.dropdown ul li:hover a:hover {
    
}



/* Mixed */

ul.dropdown li a, ul.dropdown *.dir {
}


/* Icons */


/*-------------------------------------------------/
 * @section		Support Class `open` Usage
 * @source		js, artificial
 *
 */

ul.dropdown li.hover *.open {
    /* background-color: #2C2C2C; */
    color: white;
}

ul.dropdown ul li.hover *.open, ul.dropdown-vertical li.hover *.open {
    /* padding-left: 15px; */ /* background-color: #2C2C2C; */
    color: white;
    background-color: #08C;
}

ul.dropdown-vertical-rtl li.hover *.open {
    padding-right: 15px; /* background-color: #2C2C2C; */
    color: #2c2c2c;
}

ul.dropdown-upward li.hover *.open {
    /* background-color: #2C2C2C; */
    color: #2c2c2c;
}

ul.dropdown-upward ul li.hover *.open {
    /* background-color: #2C2C2C; */
    color: #2c2c2c;
}


/* CSS2 clone */

ul.dropdown li:hover > *.dir {
    /* background-color: #2C2C2C; */
    color: white;
}

ul.dropdown ul li:hover > *.dir, ul.dropdown-vertical li:hover > *.dir {
    /* padding-left: 15px; */ /* background-color: #2C2C2C; */
    color: white;
    background-color: #08C;
}

ul.dropdown-vertical-rtl li:hover > *.dir {
    padding-right: 15px; /* background-color: #2C2C2C; */
    color: #2c2c2c;
}

ul.dropdown-upward li:hover > *.dir {
    /* background-color: #2C2C2C; */
    color: #2c2c2c;
}

ul.dropdown-upward ul li:hover > *.dir {
    /* background-color: #2C2C2C; */
    color: #2c2c2c;
}
