@using RunningObjects.MVC
@using RunningObjects.MVC.Html
@model Member
@{
    var collection = Model.AsCollection(ViewContext.Controller.ControllerContext);
}
<table class="table table-bordered">
    <thead>
        <tr>
            @foreach (var header in collection.Properties.Where(p => p.Metadata.ShowForDisplay))
            {
                <th>
                    @Html.TextFor(header)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in collection.Items)
        {
            <tr>
                @foreach (var property in item.Properties.Where(p => p.Metadata.ShowForDisplay))
                {
                <td>
                    @Html.DisplayFor(property)
                </td>
                }
            </tr>
        }
    </tbody>
</table>
