@using RunningObjects.MVC.Mapping
@using RunningObjects.MVC.Mapping.Configuration
@model IMappingElement

@if(Model != null)
{
    var reversed = new List<IMappingElement>();
    var currentParent = Model.Parent;
    while(currentParent != null && currentParent.Visible)
    {
        if (!(currentParent is NamespaceMapping) || !MappingConfiguration.Assemblies.ContainsKey(((NamespaceMapping) currentParent).FullName))
        {
            reversed.Add(currentParent);
        }
        currentParent = currentParent.Parent;
    }
    reversed.Reverse();
    
    <ul class="breadcrumb">
        @foreach(var element in reversed)
        {
            <li>@element.Name</li>
            <span class="divider">/</span>
        }
        <li>@Model.Name</li>
    </ul>
}