@using RunningObjects.MVC
@using RunningObjects.MVC.Html
@model Method
@{  
    using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { @class = "well form-vertical" }))
    {
        foreach (var parameter in Model.Parameters)
        {
    <div class="control-group">
        @Html.LabelFor(parameter)
        <div class="controls">
            @Html.EditorFor(parameter)
            <span class="control-group error">
                @Html.ValidationMessage(parameter.Name, new { @class = "help-inline" })
            </span>
        </div>
        <div class="clearfix">
        </div>
    </div>
        }
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
    <button type="button" class="btn" onclick="history.go(-1);">
        Cancel
    </button>
        if (!string.IsNullOrEmpty(Request["redirectTo"]))
        {
            @Html.Hidden("redirectTo", Request["redirectTo"])
        }
    }
}
