@using RunningObjects.MVC
@using RunningObjects.MVC.Html
@using(var security = RunningObjectsSetup.Configuration.Security)
{
    if (security.IsAuthenticationConfigured)
    {
        if (security.Authentication<Object>().IsAuthenticated())
        {
            <div class="pull-right">
                <ul class="navbar dropdown">
                    <li><span class="dir"><a href="@Url.LogoutAction()">Logout</a></span></li>
                </ul>
            </div>
        }
        else
        {
            <div class="pull-right">
                <ul class="navbar dropdown">
                    <li><span class="dir"><a href="@Url.LoginAction()">Login</a></span></li>
                </ul>
            </div>
        }
    }
}

